@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.full-w {
    width: 100%
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container-center {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: silver;
    padding: 10px 0;
}

.footer-wrapper {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px 0;
}

.header-list {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 25%;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.routeItem {
    color: white;
}

.blog-title{
padding: 20px 0;
}

.direction-column {
    flex-direction: column;
}